<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
    <style>.div1 { display: inline-block; }</style>
</head>
<body>
<hr/>
<h3>Your friends:</h3>
<hr/>
<div th:each="friend : ${friends}">
    <div class="div1">
    <a th:href="@{/user/{myId}/friends/{id}(id=${friend.getId()}, myId=${myId})}"
       th:text="${'[' + friend.getId()+ '] ' + friend.getName()}">user</a>
    </div>
    <div class="div1">
        <span>Now is in <span th:text="${friend.getLocation()}"></span> | </span>
    </div>
    <div class="div1" th:if="${friend.getMoveDate() != null}">
        <span><span th:text="${friend.getMoveDate()}"></span> going to <span th:text="${friend.getMovePoint()}"></span></span>
    </div>
    <div class="div1" th:unless="${friend.getMoveDate() != null}">
        <span>Don't have any plans</span>
    </div>
</div>
<div th:if="${friends.isEmpty()}">
    <span>You don&#39;t have any friends</span>
</div>
<br/>
<a th:unless="${friends.isEmpty()}" th:href="@{/user/{myId}/friends/edit(myId = ${myId})}">Edit</a>
<hr/>
<a th:href="@{/user/{myId}(myId=${myId})}">Your profile </a>
<a th:href="@{/user/{myId}/add(myId=${myId})}">Add friend</a>
<hr/>
</body>
</html>